<div class="nav">
  <div class="logo">
    <img src="https://i.ibb.co/7WyCGL1/Cover.jpg" alt="Cover" border="0">
  </div>
  <div class="flex-container">
    <div class="nav-block">
      <a href="" routerLink="/page-one">page one</a>
    </div>
    <div class="nav-block">
      <a href="" routerLink="/page-two">page two</a>
    </div>
    <div class="nav-block">
      <a href="" routerLink="/page-three">page three</a>
    </div>
    <div class="nav-block">
      <a href="" routerLink="/page-four">page four</a>
    </div>
  </div>
</div>
